@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao meu projeto!</h1>

    <p> Esse é um projeto onde viso desenvolver um sistema <br>
    simples de cadastro que irá relaizar as operações básicas de um sistema de cadastro </p>
    
    <p>Para mais informações entre em contato pelo e-mail: <B>guilherme.asazevedo@gmail.com</B> </p>
</div>
