@model ProjetoEstudo.Models.Pessoa

@{
    ViewData["Title"] = "Cadastro de Pessoa";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2> Cadastro  de Pessoa</h2>
</div>

@using (Html.BeginForm())
{

    <div class="form-horinzontal">

        <rh />

        <div class="form-group">
            @Html.LabelFor(model => Model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                <input type="text" class="form-control" name="Nome" placeholder="Seu nome" required>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.Sobrenome, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                <input type="text" class="form-control" name="Sobrenome" placeholder="Seu sobrenome" required>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => Model.DataNasc, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.DataNasc, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input asp-action="Inserir" type="submit" value="Cadastrar Usuário" class="btn btn-primary" />
            </div>
        </div>

        @switch (ViewData["Mensagem"])
        {
            case "Sucesso":
                <div class="alert alert-primary" role="alert"> <div class="text-center"><h6>Cadastro realizado com sucesso!</h6></div></div> ;
                break;
            case "Falha":
                <div class="alert alert-danger" role="alert"> <div class="text-center"><h6>O usuário já existe!</h6></div></div>;
                break;
        }

    </div>

}
