@using ProjetoEstudo.Models
@model IEnumerable<Pessoa>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<text align="center">
    <h2>Relação de pessoas </h2>
</text>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Data de Nascimento</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var pessoa in Model)
         {
            
            <tr>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Sobrenome</td>
                <td>@pessoa.DataNasc</td>
                <td> <a href="~/Pessoa/Excluir/@pessoa.Id">Excluir</a> </td>
            </tr>

         }
    </tbody>
</table>

